# Dependencies
node_modules

# Build output
dist
dist-electron

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Test files
coverage

# Other
build
public
